{% extends 'menuBar.html' %}
{% block content %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/communityWrite.css' %}">
        <div class="nav_bar">
        <p>게시글 등록</p>
        </div>
        <form class="editText" method="POST" action="{% url 'board_post' %}" enctype="multipart/form-data">

            {% csrf_token %}
            <select name="region" id="area" required>
                <option value="" disabled selected>지역 설정</option>
                {% for value, display_text in region_choices %}
                <option value="{{ value }}" {% if value == selected_region %}selected{% endif %}>{{ display_text }}</option>
                {% endfor %}
            </select>

            <div class="pushBtn" method="post">
                <button type="submit" id="stop">등록</button>
            </div>
            <input type="hidden" name="username" value="{{ user.username }}" />
            <textarea name="description" rows="0" id="editArea" maxlength="150" oninput="maxLengthCheck(this)"
            placeholder="현재 지역의 재난 상황에 대해 적어주세요.&#10;&#10;ex) 00역에 지금 침수된 것 같아요.&#10;현재 지역 상황이에요.&#10;&#10;많은 사람들이 보고 조심할 수 있도록 적어주세요."></textarea>
            <div id="charCount">(0 / 150)</div> <!--글자수-->

            <p id="alertText">글을 작성해주세요!</p>

            <img src="" alt="" id = "change">

            <div class="image"> <!--사진 등록 부분-->
                <label for="fileInput" id="imageButton">
                    <img src="{% static 'image/camera.png' %}" alt="파일 선택하기">
                </label>
                <input type="file" id="fileInput" name="info_image" accept="image/*" value="{{ form.info_image.value|default_if_none:'' }}">
                <span id="fileName"></span>
                <div id="del">&#215;</div>
            </div>
        </form>
    <script src="{% static 'js/communityWrite.js' %}"></script>
{% endblock %}