<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'image/logo.png' %}">
    <title>피해피해</title>
    <link rel="stylesheet" href="{% static 'css/main_page.css' %}">
</head>

<body>
    <div class="container">
        <!-- <div class="nav-bar"></div> --> <!--!!! 지우기 !!!!-->
        <!-- 배너 -->
        <div class="banner" style="background-image: url('{{ selected_banner.bannerwinner.url }}'); background-size:cover; ">
            <p class="bannerTitle">{{ selected_banner.banner_title }}</p>
            <p class="move">
                {% if selected_banner.id == 5 %}
                    <a href="{% url 'cardnews_view' card_id=2 %}">
                        <span class="text">알아보기</span>
                        <img src="{% static 'image/arrow.svg' %}" alt="화살표">
                    </a>
                {% elif selected_banner.id == 1 %}
                    <a href="{% url 'manual_view' card_id=5 %}">
                        <span class="text">알아보기</span>
                        <img src="{% static 'image/arrow.svg' %}" alt="화살표">
                    </a>
                {% elif selected_banner.id == 2 %}
                    <a href="{% url 'manual_view' card_id=1 %}">
                        <span class="text">알아보기</span>
                        <img src="{% static 'image/arrow.svg' %}" alt="화살표">
                    </a>
                {% elif selected_banner.id == 3 %}
                    <a href="{% url 'manual_view' card_id=6 %}">
                        <span class="text">알아보기</span>
                        <img src="{% static 'image/arrow.svg' %}" alt="화살표">
                    </a>
                {% endif %}

            </p>
        </div>
        <!-- 위치 표시 -->
        <div class="location">


        </div>
        <!-- 주요 서비스 -->
        <div class="content">
            <div class="content1">
                <p>지역별 재난문자</p>
                <a href="{% url 'region_all' %}">
                    <button id="content1">
                        <h5>지역별 재난문자</h5>
                        <h6>다른 지역은 무슨 일 없나?</h6>
                        <img src="{% static 'image/phone.svg' %}" alt="">
                    </button>
                </a>

            </div>
            <div class="content2">
                <p>커뮤니티</p>
                <a href="{% url 'board_list' %}">
                    <button id="content2">
                        <h5>커뮤니티</h5>
                        <h6>서로 얘기해보자</h6>
                        <img src="{% static 'image/community.png' %}" alt="">
                    </button>
                </a>
            </div>
            <div class="text">
                <p class="text1">대피처</p>
                <p class="text2">행동요령</p>
            </div>
            <div class="content34">
                <a href="{% url 'shelter_enter' %}">
                    <button id="content3">
                        <h5>대피처</h5>
                        <h6>어디로 가야하지?</h6>
                        <img src="{% static 'image/shelter.svg' %}" alt="">
                    </button>
                </a>
                <a href="{% url 'actions' %}">
                    <button id="content4">
                        <h5>행동요령</h5>
                        <h6>재난별로 알아보자</h6>
                        <img src="{% static 'image/manual.svg' %}" alt="">
                    </button>
                </a>
            </div>
        </div>
        <div id="ft"> <!-- 메뉴 하단바 -->
            <div class="ftIcons">
                <div class="back" onClick="window.history.back()"> <!--뒤로가기-->
                    <img src="{% static 'image/back_blue.png' %}" alt="">
                </div>

                <div class="home"> <!--메인(홈)으로 가기-->
                    <a href="{% url 'main' %}">
                        <img src="{% static 'image/home_blue.png' %}" alt="">
                    </a>
                </div>

                <div class="user"> <!--마이페이지로 가기-->
                    {% if user.is_authenticated %}
                    <a href="{% url 'accounts:my_page' pk=user.id %}">
                        <img src="{% static 'image/user_gray.png' %}" alt="">
                    </a>
                    {% else %}
                    <a href="{% url 'accounts:login' %}">
                        <img src="{% static 'image/user_gray.png' %}" alt="">
                    </a>
                    {% endif %}
                </div>
            </div>
        </div> <!-- 메뉴 하단바 div 끝-->
    </div>
</body>

</html>