<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="2;url=board_main_page.html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'image/logo.png' %}">
    <title>Start-page</title>
    <link rel="stylesheet" href="{% static 'css/start.css' %}">
</head>
<body>
    {% load static %}
    <div class="container">
        <img class="logo" src="" alt="">
    </div>
</body>
</html>
