{% extends 'menuBar.html' %}
{% block content %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/communityEdit.css' %}">
        <div class="nav_bar">
        <p>게시글 수정</p>
        </div>
        <form  class="editText" method="POST" action="{% url 'board_update' pk=board.pk %}" enctype="multipart/form-data">
            {% csrf_token %}
            <select name="region" id="area" required>
                <option value="{{ board.region }}" selected>{{ board.region }}</option>
                {% for value, display_text in region_choices %}
                <option value="{{ value }}" {% if value == selected_region %}selected{% endif %}>{{ display_text }}</option>
                {% endfor %}
            </select>

            <div class="pushBtn">
                <button type="submit" id="stop">등록</button>
            </div>
            <input type="hidden" name="username" value="{{ user.username }}" />
            <input type="hidden" id="boolInput" name="image_del" value="Y">
            <textarea name="description" rows="0" id="editArea" maxlength="150" oninput="maxLengthCheck(this)">{{ board.description }}</textarea>
            <div id="charCount">(0 / 150)</div> <!--글자수-->

            <p id="alertText">글을 작성해주세요!</p>

            {% if board.info_image %}
            <img src="{{ board.info_image.url }}" alt=" " id="change">
            {% else %}
            <img src='' alt=" " id="change" onerror="this.style.display='none'">
            {% endif %}


            <div class="image"> <!--사진 등록 부분-->
                <label for="fileInput" id="imageButton">
                    <img src="{% static 'image/camera.png' %}" alt="파일 선택하기">
                </label>
                <input type="file" id="fileInput" name="info_image" value="{{ form.info_image.url }}">
                <span id="fileName"></span>
                <div id="del">&#215;</div>
            </div>
        </form>
    <script src="{% static 'js/communityEdit.js' %}"></script>
{% endblock %}