
{% extends 'menuBar.html' %}
{% block content %}
{% load static %}

    <link rel="stylesheet" href="{% static 'css/cardnews_detail.css' %}">

        <div class="hd"> <!--상단-->
            <p class="cardnews">카드뉴스</p>
        </div>
        {% for behavior in behaviors %}
        <div class="title">
            <p class="cardTitle">{{behavior.title_nm}}</p>
            <p class="time">등록일 {{behavior.created_date}}</p> <!--삭제?-->
        </div>

        <div class="slide-container">
            <ul class="slide">
                {% for image in behavior.image_src %}
                <li>
                    <img src="{{ image }}" alt="">
                </li>
                {% endfor %}
            </ul>

            <div class="btn-container">
                <button class="prev-btn">
                    <img src="{% static 'image/newsArrow.png' %}" alt="뒤로가기" class="prev">
                </button>
                <button class="next-btn">
                    <img src="{% static 'image/newsArrow.png' %}" alt="앞으로 가기">
                </button>
            </div>
        </div>
        {% endfor %}
    <script src="{% static 'js/cardnews_detail.js' %}"></script>
{% endblock %}