{% extends 'menuBar.html' %}

{% block content %}

{% load static %}
    <script type="text/javascript">
        var region = "{{ region.slug }}"
        var appkey = "{{ appkey }}"
    </script>
    <script defer src="{% static 'js/messageDetail.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/messageDetail.css' %}">
        <!-- 배너 -->
        <div class="banner" style="background-image: url('{{ selected_banner.bannerwinner.url }}'); background-size:cover; ">
            <p class="bannerTitle">{{ selected_banner.banner_title }}</p>
            <p class="move">
                {% if selected_banner.id == 5 %}
                    <a href="{% url 'cardnews_view' card_id=2 %}">
                        <span class="text">알아보기</span>
                        <img src="{% static 'image/arrow.svg' %}" alt="화살표">
                    </a>
                {% elif selected_banner.id == 1 %}
                    <a href="{% url 'manual_view' card_id=5 %}">
                        <span class="text">알아보기</span>
                        <img src="{% static 'image/arrow.svg' %}" alt="화살표">
                    </a>
                {% elif selected_banner.id == 2 %}
                    <a href="{% url 'manual_view' card_id=1 %}">
                        <span class="text">알아보기</span>
                        <img src="{% static 'image/arrow.svg' %}" alt="화살표">
                    </a>
                {% elif selected_banner.id == 3 %}
                    <a href="{% url 'manual_view' card_id=6 %}">
                        <span class="text">알아보기</span>
                        <img src="{% static 'image/arrow.svg' %}" alt="화살표">
                    </a>
                {% endif %}
            </p>
        </div>

        <!--지역과 며칠 치 볼건지-->
        <div class="term">
            <p class="areaName">{{region.region_name}}</p>
        </div>

        <div class="content">
            <div class="message-list">
              <!-- 메시지들 -->                                                                          
            </div>
        </div>

        <div class="pagination">
            <!-- <button id="prevButton" style="display: none;">이전</button>
            <button id="nextButton" style="display: none;">다음</button> -->
            <!-- <button class="load-more">더보기</button> -->
        </div>

        <p class="loading">
            <img src="{% static 'image/smartphone.png' %}" alt="재난문자 아이콘"><br>
            잠시만 기다려주세요!
        </p>

        <a href="#">
            <div class="up">
                <img src="{% static 'image/up.png' %}" alt="위로가기">
            </div>
        </a>

        <!-- <div class="message">
            <p class="messageText">
                [경기도청] 현재 폭염특보 발효중. 태양
                볕, 고온 다습한 곳에 오래 머무를 경우
                위험하니 물은 자주 마시고 충분한
                휴식을 취하고 장시간 야외활동은
                자제해주세요.
            </p>
            <p class="time">하루 전</p>
        </div>

        <div class="message">
            <p class="messageText">
                [포천시] 폭염경보 발효중. 충분한
                수분보충 및 휴식, 장시간 야외활동
                자제 등 건강관리에 유의하여 주시기
                바랍니다. 
            </p>
            <p class="time">5일 전</p>
        </div>

        <div class="message">
            <p class="messageText">
                [동두천시] 호우주의보가 발효되어 새벽 집중호우가
                예상되오니 신천변, 등산로, 계곡 등 위험지역에 접근하지 마시고 
                안전사고 예방에 주의해 주시기 바랍니다.
            </p>
            <p class="time">7일 전</p>
        </div> -->


{% endblock %}