@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.container {
    width: 375px; /* 전체 width 조절 */
    height: 100%;
    margin: 0 auto; /* 가운데로 오게 하기 */
    position: relative;
    padding: 0;
    z-index:0;
}

select option[value=""][disabled] { /*select box placeholder를 위해*/
	display: none;
}

#area {
    width: 200px;
    height: 33px;
    font-size: 16px;
    margin: 9px 21px 28px 10px;
    border-radius: 10px;
    border-color: #A1A1A1;
    /* select box 세모 부분 이미지로 변경 */
    background: url('../image/triangle.png') no-repeat 95% 50%/16px auto;
    box-sizing: border;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 6px 0px 5px 10px;
}

select::-ms-expand {
    display: none;
}

.hd {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content:space-between;
}

.areaSelect {
    float: right;
}

.hdIcons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 10px;
    padding: 13px 10px 0px 0px;
}

.search {
    width: 28px;
    height: 28px;
}

.change {
    width: 31px;
    height: 31px;
}

.profile {
    width: 29px;
    height: 29px;
}
/*---상단 끝 ---*/

.title {
    font-size: 15px;
    width: 86px;
    height: 31px;
    border-radius: 20px;
    text-align: center;
    line-height: 33px;
    background-color: #ABD4FA;
    margin: 0px 0px 21px 13px;
}

.line {
    border: 1px solid #DFDFDF;
}
/*---제목 끝 ---*/

.content1, .content2, .content3 {
    height: 134px;
    width: 346px; /*콘텐츠 들어가는 부분 width 조절함*/
    margin: 0 auto;
}

.content2, .content3 {
    margin-top: 10px;
}

.lineBox {
    height: 8px;
    background-color: #F6F6F6;
}

/* 콘텐츠 윗 부분 */
.userInfo > img {
    width: 24px;
    height: 24px;
    margin-right: 6px;
}

.userInfo {
    height: 24px;
}

.nickName {
    font-size: 18px;
    margin: 1px 11px 1px 0px;
}

.time {
    font-size: 15px;
    color: #878080;
    margin: 4px 0px 2px 0px; 
}

.userInfo > img, .nickName, .time {
    float: left;
}

.dotButton {
    background-color: white;
    border: none;
    float: right;
    padding: 0;
    margin: 0;
}

.dotButton > img {
    width: 31px;
    height: 31px;
}

.reportBtn1, .reportBtn2, .reportBtn3 {
    position: absolute;
    width: 51px;
    height: 26px;
    display: none;
    background-color: white;
    color: black;
    border: 0.1px solid #C7C7C7;
    border-radius: 5px;
    cursor: pointer;
    z-index: 999;
    margin-top: 24px 0px 0px 295px;
    padding: 0;
}

.reportBtn1.show, .reportBtn2.show, .reportBtn3.show {
    display: block;
    animation: fadeInDown 1s;
}

.send1, .send2, .send3 {
    padding: 0;
    margin: 24px 11px;
    float: right;
}
/*콘텐츠 윗부분 끝 */

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

.text {
    font-size: 15px;
    margin: 15px 0px 0px 0px;
}

.comment {
    transform: scaleX(-1);
    float: right;
    width: 28px;
    height: 28px;
    margin: 16px 0px;
}

/*-------하단 메뉴바-------css */
#ft {
    margin: 0;
    padding: 0;
    z-index: 1000;
    background-color: white;
    width: 375px;
    height: 54px;
    position: fixed;
    bottom: 0;
    border-radius: 0.625rem 0.625rem 0rem 0rem;
    background: #FFF;
    box-shadow: 0px -4px 8px 0px rgba(162, 162, 162, 0.25);
}

.ftIcons {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
}

.back > a > img {
    width: 25x;
    height: 23px;
    margin: 15px 0px;
}

.home > a > img {
    width: 31px;
    height: 31px;
    margin: 11px 0px;
}

.user > a > img {
    width: 27px;
    height: 27px;
    margin: 13px 0px;
}

/*위->아래로 자연스럽게 내려오기 효과*/
@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translate3d(0, -10%, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}
