@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    width: 375px; 
    height: 100%;
    padding-bottom: 100px;
    margin: 0 auto; 
    position: relative;
    padding: 0;
    z-index:0;
    font-family: 'GmarketSansMedium';
}

.nav_bar{
    width: 375px;
    height: 30px;
    
    /* position: fixed; */
    /* border: 1px solid grey; */
}

.nav_bar > p {
    font-size: 16px;
    padding: 0;
    margin: 15px 0px 15px 0px;
    font-weight: bold;
    text-align: center;
    justify-items: center;
    /* border: 1px solid gray; */
}

/* 상단 부분 */
select option[value=""][disabled] { /*select box placeholder를 위해*/
	display: none;
}

#area {
    font-family: 'GmarketSansMedium';
    float: left;
    width: 200px;
    height: 33px;
    font-size: 16px;
    margin: 10px 21px 28px 0px;
    border-radius: 10px;
    border-color: #A1A1A1;
    /* select box 세모 부분 이미지로 변경 */
    background: url('../image/triangle.png') no-repeat 95% 50%/16px auto;
    box-sizing: border;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 6px 0px 5px 10px;
    cursor: pointer;
}

select::-ms-expand {
    display: none;
}

.pushBtn {
    height: 76px;
    margin-bottom: 25px;
    border-bottom: 1px solid #D5D5D5;
}

.pushBtn > button {
    font-family: 'GmarketSansMedium';
    width: 59px;
    height: 28px;
    font-size: 15px;
    float: right;
    margin: 13px 0px 24px 0px;
    background-color: #ABD4FA;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}
/* 상단 부분 끝 */

/* 글 고치기 부분 */
.editText {
    width: 333px;
    margin: 0 auto;
}

#editArea {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: 'GmarketSansMedium';
    width: 330px;
    min-height: 30px;
    text-align: left;
    resize: none;
    overflow-y: hidden;
    box-sizing: border-box;
    border: none;
    word-break: break-all;
}

#editArea:focus, input:focus{ outline: none;} /* textarea 테두리 안 생기게 */

#editArea::placeholder {
    font-size: 13px;
    color: #B6B6B6;
}

.editText > img {
    width: 330px;
    /* height: 200px; */
}

#charCount { /* 글자 수 세주는 부분 */
    font-size: 14px;
    color: #B9B9B9;
    padding: 10px 4px;
    float: right;
    margin-bottom: 20px;
} 
/* 글 고치기 부분 끝 */

/*하단 부분 -사진 첨부*/
.image { 
    border-top: 1px solid #D5D5D5;
    margin: 0 auto;
    padding: 0;
    z-index: 30;
    background-color: white;
    width: 375px;
    height: 54px;
    position: fixed;
    bottom: 54px;;
    left: 0;
    right: 0;
}

#fileInput { /*파일 선택, 이름 등 글자 숨기기*/
    display: none;
}

/* input file -> 이미지 버튼으로 스타일링 */
#imageButton {
    display: block;
    cursor: pointer;
    float: left;
}

#imageButton img {
    width: 30px; 
    height: 30px;
    border-radius: 5px;
    margin: 12px 0px 18px 18px;
    border: none;
}
/*하단 부분-사진 첨부 끝*/

#fileName {
    padding: 0;
    margin: 20px 0px 18px 15px;
    font-size: 11px;
    float: left;
    color: #B9B9B9;
}

#del {
    display: inline-block;
    clear: both;
    /* border: 1px solid red; */
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: #e5e5e5;
    margin: 14px 0px 0px 10px;
    font-size: 21px;
    text-align: center;
    color: rgb(107, 107, 107);
    display: none;
    cursor: pointer;
    padding: 1px 1px 0px 0px;
}

#alertText {
    /* clear: both; */
    float: left;
    font-size: 12px;
    padding: 0;
    margin: 10px 0px 0px 5px;
    color: rgb(230, 78, 78);
    text-align: center;
}

/*-------하단 메뉴바-------css */
/* #ft {
    margin: 0;
    padding: 0;
    z-index: 30;
    background-color: white;
    width: 375px;
    height: 54px;
    position: fixed;
    bottom: 0;

    border-radius: 0.625rem 0.625rem 0rem 0rem;
    background: #FFF;
    box-shadow: 0px -4px 8px 0px rgba(162, 162, 162, 0.25);
}

.ftIcons {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
}

.back > a > img {
    width: 25x;
    height: 23px;
    margin: 15px 0px;
}

.home > a > img {
    width: 31px;
    height: 31px;
    margin: 11px 0px;
}

.user > a > img {
    width: 27px;
    height: 27px;
    margin: 13px 0px;
} */