@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    font-family: 'GmarketSansMedium';
    width: 375px; 
    height: 100%;
    margin: 0 auto; 
    position: relative;
    padding: 0;
    z-index:0;
    padding-bottom: 120px;
}

/* 상단 부분 */
.hd {
    height: 56px;
}

.title {
    font-size: 20px;
    font-weight: 600;
    float: left;
    margin: 16px 0px 16px 22px;
}

.commentsDots {
    background-color: white;
    border: none;
    float: right;
    padding: 0;
    cursor: pointer;
}
/* 상단 부분 끝 */

.lineBox {
    height: 8px;
    background-color: #F6F6F6;
}

/* 게시글 윗 부분 */
.post {
    width: 332px;
    margin: 0 auto;
    margin-bottom: 70px;
}

.userInfo > img {
    width: 24px;
    height: 24px;
    margin-right: 6px;
    border-radius: 50%;
    object-fit: cover;
}

.userInfo {
    height: 26px;
    margin-top: 15px;
}

.nickName {
    font-size: 16px;
    margin: 2px 11px 1px 2px;
}

.time {
    font-size: 15px;
    color: #878080;
    margin: 4px 0px 2px 0px; 
}

.postHd {
    margin-bottom: 26px;
}

.userInfo > img, .nickName, .time {
    float: left;
}

.userInfo button {
    width: 51px;
    height: 26px;
    font-size: 14px;
    float: right;
    border-radius: 5px;
    border: none;
    padding-top: 4px;
    font-family: 'GmarketSansMedium';
}

.delete {
    background-color: #E8E8E8;
    margin-right: 8px;
    cursor: pointer;
}

.edit {
    background-color: #ABD4FA;
    cursor: pointer;
}
/* 게시글 윗부분 끝 */

/* 게시글 글 부분 */
.text, .commentsText {
    clear: both;
    font-size: 15px;
    margin-bottom: 16px;
    word-break: break-all; /*영어 이상하게 잘려서 추가*/
    line-height: 1.5;
}

.text {
    margin-left: 2px;
}

.post > img {
    width: 332px;
    /* height: 200px; */
}
/* 게시글 글 부분 끝 */

/* 댓글 작성 제목 부분 */
.comment {
    width: 333px;
    margin: 0 auto;
}

.comment > img {
    transform: scaleX(-1);
    width: 24px;
    height: 24px;
    float: left;
    margin-right: 8px;
}

.comment > p {
    font-size: 15px;
    margin: 0;
    padding: 2px 0px 0px 0px;
}
/* 댓글 작성 제목 부분 끝 */

.line {
    margin-top: 12px;
    margin-bottom: 14px;
    border: 1px solid #D5D5D5;
}

/* 댓글 작성하기 부분 */
form {
    width: 332px;
    border: 1px solid #D5D5D5;
    margin-bottom: 65px;
    margin-left: 23px;
    border-radius: 7px;
}

#commentText {
    font-family: 'GmarketSansMedium';
    width: 328px;
    height: 90px;
    border-radius: 5px;
    border: none;
    resize: none;
    outline: none;
    word-break: break-all; /*영어 이상하게 줄바꿈돼서 추가*/
    font-size: 13px;
}

.border {
    border-top: 1px solid #D5D5D5;
    height: 42px;
}

.border button {
    width: 53px;
    height: 28px;
    background-color: #ABD4FA;
    border: none;
    border-radius: 5px;
    float: right;
    margin: 7px 5px 7px 0px;
    font-family: 'GmarketSansMedium';
    padding-top: 4px;
    font-size: 13px;
}

#charCount { /* 글자 수 세주는 부분 */
    font-size: 13px;
    color: #B9B9B9;
    float: left;
    padding: 13px 0px 13px 9px;
} 

#alertText {
    clear: both;
    float: left;
    font-size: 12px;
    padding: 0;
    margin: 10px 0px 0px 3px;
    color: rgb(230, 78, 78);
    text-align: center;
}
/* 댓글 작성하기 부분 끝 */


/* 댓글 부분 */
.comments { /*변경 height 삭제-늘어나도록*/
    width: 330px;
    margin: 0 auto;
    margin-bottom: 11px;
}

.commentsHd {
    margin-bottom: 11px;
}

.commentsUser > img {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    object-fit: cover;
}

.commentsName {
    font-size: 15px;
    margin: 0px 11px 15px 7px;
} 

.commentsTime {
    font-size: 13px;
    color: #878080;
    margin: 0;
}

.commentsUser > img, .commentsName, .commentsTime {
    float: left;
}

.commentsDots > img {
    width: 24px;
    height: 24px;
}

.commentsText {
    padding-left: 24px;
    font-size: 13px;
}

/* .reportBtn1, .reportBtn2, .commentDelBtn {
    position: absolute;
    width: 42px;
    height: 26px;
    display: none;
    background-color: white;
    color: black;
    border: 0.1px solid #C7C7C7;
    border-radius: 5px;
    cursor: pointer;
    z-index: 990;
    float: right;
}

.commentDelBtn { 추가
    margin-left: 135px;
}

.reportBtn1, .reportBtn2 {
    margin-left: 297px;
} */

.reportBtn {
    font-family: 'GmarketSansMedium';
    font-size: 12px;
    padding-top: 3px;
    position: absolute;
    width: 42px;
    height: 26px;
    display: none;
    background-color: white;
    color: black;
    border: 0.1px solid #d9d9d9;
    border-radius: 5px;
    cursor: pointer;
    z-index: 990;
    float: right;
    margin-left: 297px;
    animation: fadeInDown 1s;
    box-shadow: 0px 4px 8px 0px rgba(170, 170, 170, 0.25);
}

/* .reportBtn1.show, .reportBtn2.show {
    display: block;
    animation: fadeInDown 1s;
} */

.send, .commentDelete { /*여기도 absolute 적용해야 함.*/
    padding: 0;
    position: absolute;
    z-index: 990;
    margin: 18px 0px 0px 0px;
    border: none;
}
/* 댓글 부분 끝 */

/*-------하단 메뉴바-------css */
#ft {
    margin: 0;
    padding: 0;
    z-index: 998;
    background-color: white;
    width: 375px;
    height: 54px;
    position: fixed;
    bottom: 0;

    border-radius: 0.625rem 0.625rem 0rem 0rem;
    background: #FFF;
    box-shadow: 0px -4px 8px 0px rgba(162, 162, 162, 0.25);
}

.ftIcons {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
}

.back > a > img {
    width: 25px;
    height: 23px;
    margin: 15px 0px;
}

.home > a > img {
    width: 31px;
    height: 31px;
    margin: 11px 0px;
}

.user > a > img {
    width: 27px;
    height: 27px;
    margin: 13px 0px;
}

/*모달창*/
.modal {
    animation: fadeInDown 1s;
    width: 375px;
    height: 100%;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.4);
    z-index: 999;
    margin: 0 auto;
}

.modal-content {
    box-shadow: 1px 5px 7px 0px rgba(130, 130, 130, 0.25);
    border-radius: 10px;
    background-color: white;
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    width: 290px;
    height: 180px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    z-index: 999;
    border: 1px solid #EDEDED;
}

.modal-content > p {
    color: black;
    font-size: 19px;
    margin: 54px 40px 24px 40px;
}
/* 모달과 제목 끝*/

/* 모달창 버튼들 */
.close-button {
    display: block;
    text-align: center;
    background-color: #E8E8E8;
    margin: 0px 18px 0px 43px;
    text-decoration: none;
    float: left;
}

.close-button > p {
    padding: 0;
    margin: 5px 15px 7px 15px;
}

.yesBtn {
    display: block;
    border: none;
    padding: 0;
    margin: 0;
}

.delete_button {
    background-color: #ABD4FA;
    float: right;
    margin: 0px 80px 0px 0px;
    padding: 0;
}

.close-button, .delete_button {
    font-family: 'GmarketSansMedium';
    font-size: 16px;
    padding-top: 4px;
    border-radius: 10px;
    width: 87px;
    height: 33px;
    border: none;
    cursor: pointer;
    color: black;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translate3d(0, -10%, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

