@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Dongle:wght@300&family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Nanum+Gothic&family=Press+Start+2P&display=swap');

* {
    font-family: 'Inter', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    width: 375px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0;
    z-index: 0;
    background-color: #FFF;
    

}

.nav-bar {
    width: 375px;
    height: 50px;
    background: #FFF;

}

/* 뒤로가기 버튼 */
.back {
    width: 25.15px;
    height: 23.04px;
    margin-bottom: 12px;
    margin-left: 40.92px;

}

/* 로고 위치 표시 - 로고 생기면 변경 */

.logo {
    width: 259px;
    height: 152px;
    border-radius: 10px;
    background: #94C9FA;
    margin-left: 58px;
    margin-right: 58px;
    margin-top: 38px;
    margin-bottom: 69px;
}


/* email, password 입력창 */
form>input {
    width: 300px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #989898;
    background: #FFF;
    margin-left: 37px;
    margin-bottom: 23px;
}


/* 로그인 버튼 */

.button > button > a {
    text-decoration: none;
    color: #FFF;
}

.button button {
    width: 298px;
    height: 65px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #94C9FA;
    box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.25);
    margin-left: 38px;
    margin-top: 60px;
    margin-bottom: 61px;
    border: none;
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

/* 비밀번호 찾기 | 회원가입 */

.option {
    margin-left: 102px;
}


/* 비밀번호 찾기 , 회원가입 text  */
.option a {
    text-decoration: none;
    color: #68B1F4;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}