
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    /*추가*/
}

.container {
    width: 375px;
    /* height: 790px;  */
    /*지움*/
    height: 100vh;
    /*추가*/
    height: -webkit-fill-available;
    /*추가*/
    height: fill-available;
    /*추가*/
    margin: 0 auto;
    position: relative;
    padding: 0;
    z-index: 0;
    font-family: 'GmarketSansMedium';
    background: #F6F6F6;
    
}



/* 배너 */
.banner {
    height: 100px;
    /* 배너 줄이고 싶다면 1. 여기 height 조절*/
    position: relative;
    padding-top: 17px;

}

.bannerTitle {
    font-family: 'GmarketSansMedium';
    font-size: 17px;
    /* font-weight: 600; */
    position: relative;
    margin: 0px 0px 0px 20px;
    opacity: 0.9;
}

.move {

    font-size: 16px;
    float: right;
    margin: 35px 13px 30px 0px;
    /* 2. 여기 글자를 올려야 하기 때문에 */
    /*35px를 더 작은 숫자로 줄여서 조절하면 됨*/
    padding: 0;
    position: relative;
    /*블러 처리를 위한 코드*/

}

.move a {
    text-decoration: none;
    color: black;
}

.move>a>img {
    float: right;
    width: 17px;
    height: 17px;
    transform: translateY(-20px);
}

.move>a>span {
    font-family: 'GmarketSansMedium';
    font-weight: 400;
}

.text {
    display: inline-block;
    position: relative;
    margin-top: 1.5px;
    margin-right: 20px;
   
   
   

}

/*사진 블러처리*/
.banner::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    background-color: #fff;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}



.location {
    display: flex;


}

/* 프로필 / 내 위치 : ㅇㅇ시 부분 */





.content {
    margin-left: 23px;
    margin-top: 40px;
}


/* 지역별 재난문자 */
#content1 {
    width: 328px;
    height: 120px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 8px 0px rgba(170, 170, 170, 0.25);
    margin-bottom: 20px;
    border: none;
}

.content1>p {
    font-size: 18px;
    font-weight: 500;
    
}

#content1>img {
    width: 72px;
    /*변경 52->72*/
    height: 70px;
    /*변경 62->70*/
    flex-shrink: 0;
    transform: translateY(-79px);
    margin-left: 250px;
    /*변경 234->250*/
}

#content1>h5 {
    width: 135px;
    height: 24px;
    color: #000;
    font-family: 'GmarketSansMedium';
   
    font-size: 17px;
    font-style: bold;
    font-weight: 400;
    line-height: normal;
    margin-left: 6px;
    margin-top: 16px;
   

}

#content1>h6 {
    width: 163px;
    height: 18px;
    color: #000;
     font-family: 'GmarketSansMedium';
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 10px;
    transform: translateY(-26px);

}

/* 커뮤니티 */
#content2 {
    width: 328px;
    height: 120px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 8px 0px rgba(170, 170, 170, 0.25);
    margin-bottom: 20px;
    border: none;
}

.content2>p {
    font-size: 18px;
    font-weight: 500;
   
}


#content2>img {
    width: 77px;
    /*변경 57->77*/
    height: 77px;
    flex-shrink: 0;
    transform: translateY(-79px);
    margin-left: 215px;
    /*변경 234 -> 215*/
}


#content2>h5 {
    width: 74px;
    height: 24px;
    color: #000;
    font-family: 'GmarketSansMedium';
    font-size: 17px;
    font-style: bold;
    font-weight: 400;
    line-height: normal;
    margin-left: 10px;
    margin-top: 16px;

}

#content2>h6 {
    width: 101px;
    height: 18px;
    color: #000;
    font-family: 'GmarketSansMedium';
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 10px;
    transform: translateY(-30px);

}


/* 대피처 */


#content3 {
    width: 154px;
    height: 171px;
    flex-shrink: 0;
    margin-right: 20px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 8px 0px rgba(170, 170, 170, 0.25);
    border: none;
}

#content3>img {
    width: 70px;
    /*변경 52-> 70*/
    height: 70px;
    /*변경 62 -> 70*/
    flex-shrink: 0;
    transform: translateY(-36px);
    margin: 0px 6px 18px 75px;
    /*변경 원래 margin-left: 70px; 였음*/
}

#content3>h5 {
    width: 56px;
    height: 24px;
    font-family: 'GmarketSansMedium';
    font-size: 17px;
    font-style: bold;
    font-weight: 400;
    line-height: normal;
    margin-left: 10px;
    margin-top: 16px;

}

#content3>h6 {
    width: 109px;
    height: 18px;
    color: #000;
     font-family: 'GmarketSansMedium';
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 9px;
    /*변경 10->9*/
    transform: translateY(-30px);
}

/* 행동요령 */
#content4 {
    width: 154px;
    height: 171px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 8px 0px rgba(170, 170, 170, 0.25);
    border: none;
}

#content4>img {
    width: 57px;
    /*변경 52->57*/
    height: 57px;
    /*변경 62->57*/
    flex-shrink: 0;
    transform: translateY(-29px);
    margin: 5px 17px 18px 75px;
    /*변경 원래 margin-left: 70px; 였음*/
}

#content4>h5 {
    width: 74px;
    height: 24px;
     font-family: 'GmarketSansMedium';
    font-size: 17px;
    font-style: bold;
    font-weight: 400;
    line-height: normal;
    margin-left: 10px;
    margin-top: 16px;

}

#content4>h6 {
    width: 109px;
    height: 18px;
    color: #000;
     font-family: 'GmarketSansMedium';
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 13px;
    /*변경 10->13*/
    transform: translateY(-30px);
}


.content34 {
    display: flex;
    flex-direction: row;


}

.text {
    display: flex;
    font-size: 18px;
    font-weight: 500;
    /* font-weight: bold; */
}
.text1 {
    margin-left: 3px;
}

.text2 {
    margin-left: 122px;
}

/* 하단바 */

#ft {
    margin: 0;
    padding: 0;
    z-index: 30;
    background-color: white;
    width: 375px;
    height: 54px;
    position: fixed;
    bottom: 0;

    border-radius: 0.625rem 0.625rem 0rem 0rem;
    background: #FFF;
    box-shadow: 0px -4px 8px 0px rgba(162, 162, 162, 0.25);
}

.ftIcons {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
}

.back>img {
    width: 25px;
    height: 23px;
    margin: 15px 0px;
    cursor: pointer;
}

.home>a>img {
    width: 31px;
    height: 31px;
    margin: 11px 0px;
}

.user>a>img {
    width: 27px;
    height: 27px;
    margin: 13px 0px;
}

.user>a>img:hover {
    content: url(../image/user_blue.png)
}

/*추가*/
@media screen and (max-height: 740px) {
    .container {
        height: 100%;
        padding-bottom: 200px;
    }
}

@media screen and (max-width: 300px) {
    .container {
        height: 100%;
        padding-bottom: 200px;
    }
}