@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Dongle:wght@300&family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Nanum+Gothic&family=Press+Start+2P&display=swap');

* {
    font-family: 'Inter', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    width: 375px;
    height: 844px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 0;
    z-index: 0;
    background-color: #FFF;
    border: 1px solid #989898;

}

.nav-bar {
    width: 375px;
    height: 50px;
    background: #FFF;

}

h3 {
    color: #2A2A2A;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 37px;

}


form>p {
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 37px;
}



/* input */
form>input {
    width: 300px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #989898;
    background: #FFF;
    margin-left: 37px;
}


/* 보이기 버튼과 입력 필드 사이의 간격 설정 */
form .pw-btn button {
    margin-left: 10px;
    /* 왼쪽 간격 설정 */
    border: solid 1px gainsboro;
    position: absolute;
    right: 42px;
    /* 우측 간격 설정 */
    transform: translateX(50%);
    /* 가운데 정렬 */

}

form .pw-btn button {
    border-radius: 10px;
    border: none;
    right: 38px;
    position: absolute;
    transform: translateY(-80px);
    margin-top: 5px;
    color: #FFF;
    background-color: #94C9FA;
    opacity: 60%;
}

form .pw-btn1 button {
    border-radius: 10px;
    border: none;
    position: absolute;
    margin-top: 5px;
    right: 38px;
    transform: translateY(-80px);
    color: #FFF;
    background-color: #94C9FA;
    opacity: 60%;


}




/* 로그인 버튼 */
.button button {
    width: 298px;
    height: 65px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #94C9FA;
    box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.25);
    margin-left: 38px;
    margin-top: 65px;
    margin-bottom: 251px;
    border: none;
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}



/* 하단바 */
#ft {
    margin: 0;
    padding: 0;
    z-index: 30;
    background-color: white;
    width: 375px;
    height: 54px;
    position: fixed;
    bottom: 0;

    border-radius: 0.625rem 0.625rem 0rem 0rem;
    background: #FFF;
    box-shadow: 0px -4px 8px 0px rgba(162, 162, 162, 0.25);
}

.ftIcons {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
}

.back>a>img {
    width: 25x;
    height: 23px;
    margin: 15px 0px;
}

.home>a>img {
    width: 31px;
    height: 31px;
    margin: 11px 0px;
}

.user>a>img {
    width: 27px;
    height: 27px;
    margin: 13px 0px;
}