
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} 
* {
    font-family: 'GmarketSansMedium';
}

body {
    margin: 0;
    padding: 0;
}

.container {
    width: 375px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0;
    z-index: 0;
    background-color: #FFF;
    

}

.nav-bar {
    width: 375px;
    height: 50px;
    background-color: #FFF;
   
}

h3 {
    color: #2A2A2A;
    font-family: 'GmarketSansMedium';
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    margin-left: 37px;
}
#user {
    width: 168px;
    height: 168px;
    margin-top: 22px;
    margin-left: 103px;
    margin-right: 104px;
    border-radius: 50%;
    object-fit: cover;
}

#profile-image-input {
    display: none;
}

/* 닉네임/이메일/비밀번호/비밀번호 재설정 text */
form>p {
    margin-bottom: 15px;
    color: #000;
    font-family: 'GmarketSansMedium';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 37px;
}


/* 닉네임 인풋 */
.nickname {
    width: 300px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #989898;
    background: #FFF;
    margin-left: 35px;
   
}

/* 회원가입 버튼 */
.button button {
    width: 298px;
    height: 65px;
    border: none;
    border-radius: 10px;
    background: #94C9FA;
    box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.25);
    margin-top: 65px;
    margin-bottom: 83px;
    margin-left: 38px;
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;

}



@media screen and (max-height: 740px) {
    .container {
        height: 100%;
        padding-bottom: 150px;
        
    }
    .nav-bar {
        width: 375px;
        height: 20px;
        background-color: #FFF;
       
    }
}

@media screen and (max-width: 300px) {
    .container {
        height: 100%;
        padding-bottom: 200px;
    }
}