@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'GmarketSansMedium';
}


body {
    margin: 0;
    padding: 0;
}

.container {
    width: 375px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 0;
    z-index: 0;
    background-color: #FFF;
    

}

.nav-bar {
    width: 375px;
    height: 50px;
    background: #FFF;

}

.header>h3 {
    color: #000;
    font-family: 'GmarketSansMedium';
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-weight: bold;
    margin-left: 30px;
}

.section1>p {
    color: #878080;
    font-family: 'GmarketSansMedium';
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 30px;
    font-weight: bolder;
    margin-bottom: 200px;
}


 .button button{
    width: 298px;
    height: 65px;
    margin-top: 250px;
    border-radius: 10px;
    background: #94C9FA;
    box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.25);
    margin-left: 38px;
    border: none;
    color: #FFF;
    
    font-family: 'GmarketSansMedium';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}

#ft {
    margin: 0;
    padding: 0;
    z-index: 30;
    background-color: white;
    width: 375px;
    height: 54px;
    position: fixed;
    bottom: 0;

    border-radius: 0.625rem 0.625rem 0rem 0rem;
    background: #FFF;
    box-shadow: 0px -4px 8px 0px rgba(162, 162, 162, 0.25);
}

.ftIcons {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
}

.back > a > img {
    width: 25x;
    height: 23px;
    margin: 15px 0px;
}

.home > a > img {
    width: 31px;
    height: 31px;
    margin: 11px 0px;
}

.user > a > img {
    width: 27px;
    height: 27px;
    margin: 13px 0px;
}




 