@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Dongle:wght@300&family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Nanum+Gothic&family=Press+Start+2P&display=swap');

* {
    font-family: 'Inter', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    width: 375px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0;
    z-index: 0;
    background-color: #FFF;
  

}

.nav-bar {
    width: 375px;
    height: 50px;
    background: #FFF;

}

h3 {
    margin-left: 16px;
    font-weight: bold;
}




/* > */

#q1 {
    margin-left: 325px;
    position: relative;
    top: -10px;


}

.question1>p {
    margin-left: 16px;
    margin-right: 0;
    transform: translateY(25px);
    flex: 1;

}





.question2>p {
    margin-left: 16px;
    transform: translateY(25px);

}
/* > */

#q2 {
    margin-left: 325px;
    position: relative;
    top: -10px;


}

.question3>p {
    margin-left: 16px;
    transform: translateY(25px);

}

/* > */
#q3 {
    margin-left: 325px;
    position: relative;
    top: -10px;

}










/*-------하단 메뉴바-------css */
#ft {
    margin: 0;
    padding: 0;
    z-index: 30;
    background-color: white;
    width: 375px;
    height: 54px;
    position: fixed;
    bottom: 0;

    border-radius: 0.625rem 0.625rem 0rem 0rem;
    background: #FFF;
    box-shadow: 0px -4px 8px 0px rgba(162, 162, 162, 0.25);
}

.ftIcons {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
}

.back>a>img {
    width: 25x;
    height: 23px;
    margin: 15px 0px;
}

.home>a>img {
    width: 31px;
    height: 31px;
    margin: 11px 0px;
}

.user>a>img {
    width: 27px;
    height: 27px;
    margin: 13px 0px;
}