@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'GmarketSansMedium';
}


body {
    height: 100vh;
}

.container {
    height: 100vh; 
    height: -webkit-fill-available; 
    height: fill-available; 


}

.nav-bar {
    width: 375px;
    height: 30px;


}

h3 {
    color: #000;
    font-family: 'GmarketSansMedium';
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    margin-left: 29px;
    margin-top: 33px;


}

image {
    width: 315px;
    height: 1px;
}

/* 스크랩한 글 리스트 */
.article {

    margin-left: 28px;
    margin-right: 28px;

}



/* 구분선 */

.article1>img {
    width: 315px;

}



/* 글 리스트 제목 */

.article1>h5 {
    margin-bottom: 0;
}

.article1>h5>a {
    text-decoration: none;
    color: black
}

/* 글 리스트 해시태그 */

.article1>h6 {
    color: #878080;
    font-family: 'GmarketSansMedium';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 5px;
    margin-bottom: 0;
}


/* 구분선 */

.article2>img {
    width: 315px;

}

/* 글 리스트 제목 */

.article2>h5 {
    margin-bottom: 0;
}

.article2>h5>a {
    text-decoration: none;
    color: black
}

/* 글 리스트 해시태그 */
.article2>h6 {
    color: #878080;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 5px;
    margin-bottom: 0;
}

/* 글 구분선 */
.article3>img {
    width: 315px;

}


/* 글 리스트 제목 */
.article3>h5 {
    margin-bottom: 0;
}

.article3>h5>a {
    text-decoration: none;
    color: black
}

/* 글 리스트 해시태그 */
.article3>h6 {
    color: #878080;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 5px;
    margin-bottom: 0;
}



/* 글 구분선 */
.article4>img {
    width: 315px;

}


/* 글 리스트 제목 */
.article4>h5 {
    margin-bottom: 0;
}

.article4>h5>a {
    text-decoration: none;
    color: black
}

/* 글 리스트 해시태그 */
.article4>h6 {
    color: #878080;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 5px;
    margin-bottom: 0;
}




/* 글 구분선 */
.article5>img {
    width: 315px;

}


/* 글 리스트 제목 */
.article5>h5 {
    margin-bottom: 0;
}

.article5>h5>a {
    text-decoration: none;
    color: black
}

/* 글 리스트 해시태그 */
.article5>h6 {
    color: #878080;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 5px;

    margin-bottom: 0;
}



/* 글 구분선 */
.article6>img {
    width: 315px;

}


/* 글 리스트 제목 */
.article6>h5 {
    margin-bottom: 0;
}

.article6>h5>a {
    text-decoration: none;
    color: black
}

/* 글 리스트 해시태그 */
.article6>h6 {
    color: #878080;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 5px;
    margin-bottom: 0;
}

/* 스크랩창  이동하는 버튼 */
.button {

    display: flex;
    margin-bottom: 101px;
}

/* 양 버튼  */
.button>button {
    border: none;
    background-color: #FFF;
    width: 47px;
    height: 25px;
}

/* 왼쪽 버튼 */
.button1 {
    margin-left: 36px;
    margin-top: 68px;
}

/* 오른쪽 버튼 */
.button2 {
    margin-left: 209px;
    margin-right: 36px;
    margin-top: 69px;


}

/* 오른쪽 버튼 - 위치조정 */

.button2>img {
    transform: translateY(-3px);
}


/*-------하단 메뉴바-------css */
#ft {
    margin: 0;
    padding: 0;
    z-index: 30;
    background-color: white;
    width: 375px;
    height: 54px;
    position: fixed;
    bottom: 0;

    border-radius: 0.625rem 0.625rem 0rem 0rem;
    background: #FFF;
    box-shadow: 0px -4px 8px 0px rgba(162, 162, 162, 0.25);
}

.ftIcons {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
}

.back>a>img {
    width: 25x;
    height: 23px;
    margin: 15px 0px;
}

.home>a>img {
    width: 31px;
    height: 31px;
    margin: 11px 0px;
}

.user>a>img {
    width: 27px;
    height: 27px;
    margin: 13px 0px;
}

/* 여긴 미디어쿼리 */
@media screen and (max-height: 740px) {
    .container {
        height: 100%;
        padding-bottom: 110px;
    }
    .nav-bar {
        width: 375px;
        height: 30px;
    
    
    }
}

@media screen and (max-width: 300px) {
    .container {
        height: 100%;
        padding-bottom: 200px;
    }
}