
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Dongle:wght@300&family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Nanum+Gothic&family=Press+Start+2P&display=swap');

* {
    font-family: Inter;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    width: 375px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0;
    z-index: 0;
    background-color: #FFF;
   

}

.nav-bar {
    width: 375px;
    height: 50px;
    background-color: #FFF;
   
}

h3 {
    color: #2A2A2A;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 37px;
}

/* 닉네임/이메일/비밀번호/비밀번호 재설정 text */
form>p {
    margin-bottom: 15px;
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 37px;
}


/* 닉네임 인풋 */
.nickname {
    width: 300px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #989898;
    background: #FFF;
    margin-left: 37px;
   
}


/* 회원가입 버튼 */
.button button {
    width: 298px;
    height: 65px;
    border: none;
    border-radius: 10px;
    background: #94C9FA;
    box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.25);
    margin-top: 65px;
    margin-bottom: 83px;
    margin-left: 38px;
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;

}

/* 하단바 태그 */

#ft {
    margin: 0;
    padding: 0;
    z-index: 30;
    background-color: white;
    width: 375px;
    height: 54px;
    position: fixed;
    bottom: 0;

    border-radius: 0.625rem 0.625rem 0rem 0rem;
    background: #FFF;
    box-shadow: 0px -4px 8px 0px rgba(162, 162, 162, 0.25);
}

.ftIcons {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
}

.back > a > img {
    width: 25x;
    height: 23px;
    margin: 15px 0px;
}

.home > a > img {
    width: 31px;
    height: 31px;
    margin: 11px 0px;
}

.user > a > img {
    width: 27px;
    height: 27px;
    margin: 13px 0px;
}