<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'image/logo.png' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>피해피해</title>
</head>

<body>
    <div class="container">
        <div class="nav_bar">
            <p>로그인</p>
        </div>
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
            <!-- 상단바 공간 -->
            <!-- <div class="nav-bar"></div> -->
            <!-- 뒤로 가기 버튼 -->
            <a onClick='window.history.back()'>
                <img class="back" src="{% static 'image/back-back.svg' %}" alt="" srcset="">
            </a>
            <img src="{% static 'image/line.svg' %}" alt="">

            <!-- 로고 -->
            <div class="logo">
                <img src="{% static 'image\logo33.png' %}" alt="">
            </div>
            <!-- email,pw,login-btn -->
            <div class="input">
                <form name="login-form" action="{% url 'accounts:login' %}" method="post">
                    {% csrf_token %}
                    <input type="text" id="email" name="username" placeholder="아이디" value="{{ form.username.value|default_if_none:'' }}"required>
                    <input type="password" id="password" name="password" placeholder="비밀번호 " value="{{ form.password.value|default_if_none:'' }}" required>
                    <div class="button">
                        <button type="submit">로그인</button>
                    </div>
                </form>
            </div>
            <!-- 비밀번호 찾기 | 회원가입 -->
            <div class="option">
                <a href="{% url 'accounts:pwfind' %}">비밀번호 찾기</a>
                <img src="{% static 'image/line-21.svg' %}" alt="">
                <a href="{% url 'accounts:signup' %}">회원가입</a>
            </div>
    </div>
    <script src="{% static 'js/login.js' %}"></script>

</body>

</html>