{% extends 'accounts/menuBar_mp.html' %}
{% block content %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
        <div class="nav-bar">
        </div>
        <h3>프로필</h3>
        <div class="input">

            <form id="profile-form" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="profile-image-input" class="custom-file-upload"><img id="user"
                    src="{{ user.user_image.url }}" alt=""></label>
                <input type="file" name="user_image" id="profile-image-input" accept="image/*">
                <p for="nickname">아이디</p>
                <input class="nickname" type="text" id="nickname" name="username" required
                    oninput="validateNicknameInput()" value="{{ form.username.value|default_if_none:'' }}">

                <p for="email">이메일</p>
                <input class="nickname" type="email" id="email" name="email" value="{{ form.email.value|default_if_none:'' }}" required readonly>

                <div class="button">
                    <button type="submit">확인</button>
                </div>
            </form>
        </div>
<script src="{% static 'js/profile.js' %}"></script>
{% endblock %}