<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'image/logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/menuBar.css' %}">
    <link rel="stylesheet" href="{% static 'css/pwfind.css' %}">
    <title>피해피해</title>
</head>
<body>
    <div class="container">
        <div class="nav-bar"></div>
        <a onClick='window.history.back()'>
            <img class="back" src="{% static 'image/back-back.svg' %}" alt="" srcset="">
        </a>
        <img src="{% static 'image/line.svg' %}" alt="">

        <h3>비밀번호 찾기</h3>
        <div class="input">
            <form action="" method="post" onsubmit="return validateForm()">
                {% csrf_token %}
                <p for="name">아이디</p>
                <input type="text" id="name" name="username" required>
                <p for="email">이메일</p>
                <input type="email" id="email" name="email" required>
                <div class="button">
                    <button type="submit">찾기</button>
                </div>
            </form>
        </div>
        <script src="{% static 'js/pwfind.js' %}"></script>
    </div>
</body>
</html>



