{% extends 'accounts/menuBar_mp.html' %}
{% block content %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
        <div class="nav-bar">
        </div>
        <h3>회원가입</h3>
        <div class="input">
            <form action="" method="post" onsubmit="checkPassword()">
                {% csrf_token %}
                <p for="username">아이디</p>
                <input class="nickname" type="text" id="username" name="username" required>

                <p for="email">이메일</p>
                <input class="nickname" type="email" id="email" name="email" required>

                <p for="password">비밀번호</p>
                <input class="nickname" type="password" id="password" name="password1" required>

                <p for="password-confirm">비밀번호 확인</p>
                <input class="nickname" type="password" id="password-confirm" name="password2" required>
                <div class="button">
                    <button type="submit" onclick="return validateForm()">회원가입</button>
                </div>
            </form>
        </div>
  
    <script src="{% static 'js/signup.js' %}"></script>
{% endblock %}