<!-- 여기 actionTips.hmtl 안 써요...  -->
<!-- actionTips_cardnews.html, actionTips_main.html, actionTips.menual.html로 바꿨어용... -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>재난이: 행동요령</title>
    <link rel="stylesheet" href="{% static 'css/menuBar.css' %}">
{% comment %}
{% extends 'menuBar.html' %}
{% block content %}
{% load static %}
{% endcomment %}
    <link rel="stylesheet" href="{% static 'css/actionTips.css' %}">
</head> <!--del-->
<body> <!--del-->
    <div class="container"> <!--del-->
        <!-- header -->
        <div class="header">
        </div>
        <!-- 캐러셀 -->
        <div class="actionTips_carousel">
            <div class="carousel01">
                <a href="">
                    <img src="../static/image/cardnews/001.png" alt="">
                </a>
            </div>
        </div>

        <div class="tab_container">
            <ul class="tab_menu">
                <li data-tab="tab_1" class="current">전체</li>
                <li data-tab="tab_2">메뉴얼</li>
                <li data-tab="tab_3">카드뉴스</li>
            </ul>

            <!-- 전체 -->
            <div id="tab_1" class="tab_content current">
                <!-- 검색 -->
                <div class="search_container">
                    <ul class="search_box">
                        <li class="search_text">검색</li>
                        <li class="search_icon"><iconify-icon icon="ic:baseline-search" width="17" height="17"></iconify-icon></li>
                    </ul>
                    <hr class="search_line">
                </div>
                <!-- 전체 탭 콘텐츠 내용 -->
                <div class="tab_cardnews_box">
                   <img src="../static/image/finedust/000.png" alt="">
                </div>
                <div class="tab_menual_container">
                    <hr class="menual_line">
                    <div class="menual_box">
                        <a href="">
                            <p class="menual_text">태풍 발생 시 행동요령</p>
                            <ul class="hashtag">
                                <li>#태풍_예보_시</li>
                                <li>#태풍_특보_시</li>
                                <li>#태풍_특보_중</li>
                            </ul>        
                        </a>
                    </div>
                    <hr class="menual_line">
                    <div class="menual_box">
                        <a href="">
                            <p class="menual_text">지진 발생 시 행동요령</p>
                            <ul class="hashtag">
                                <li>#지진_예보시</li>
                                <li>#지진경보</li>
                            </ul>
                        </a>
                    </div>
                    <hr class="menual_line">
                </div>
                <h2>전체 탭 콘텐츠</h2>
                <p>전체 콘텐츠 내용을 여기에 작성합니다.</p>
            </div>

            <!-- 메뉴얼 -->
            <div id="tab_2" class="tab_content">
                <!-- 검색 -->
                <div class="search_container">
                    <ul class="search_box">
                        <li class="search_text">검색</li>
                        <li class="search_icon"><iconify-icon icon="ic:baseline-search" width="17" height="17"></iconify-icon>
                        </li>
                    </ul>
                    <hr class="search_line">
                </div>
                <!-- 메뉴얼 탭 콘텐츠 내용 -->
                <div class="menual_container">
                    <div class="menual_box">
                        <a href="">
                            <p class="menual_text">태풍 발생 시 행동요령</p>
                            <ul class="hashtag">
                                <li>#태풍_예보_시</li>
                                <li>#태풍_특보_시</li>
                                <li>#태풍_특보_중</li>
                            </ul>
                        </a>
                    </div>
                    <hr class="menual_line">
                    <div class="menual_box">
                        <a href="">
                            <p class="menual_text">지진 발생 시 행동요령</p>
                            <ul class="hashtag">
                                <li>#지진_예보시</li>
                                <li>#지진경보</li>
                            </ul>
                        </a>
                    </div>
                    <hr class="menual_line">
                    <div class="menual_box">
                        <a href="">
                            <p class="menual_text">호우 발생 시 행동요령</p>
                            <ul class="hashtag">
                                <li>#사전준비</li>
                                <li>#호우특보</li>
                                <li>#호우_이후</li>
                            </ul>
                        </a>
                    </div>
                    <hr class="menual_line">
                    <div class="menual_box">
                        <a href="">
                            <p class="menual_text">폭염 시 행동요령</p>
                            <ul class="hashtag">
                                <li>#평상시</li>
                                <li>#폭염발생_시</li>
                                <li>#폭염_관련_정보</li>
                            </ul>
                        </a>
                    </div>
                    <hr class="menual_line">
                </div>
                <h2>메뉴얼 탭 콘텐츠</h2>
                <p>메뉴얼 콘텐츠 내용을 여기에 작성합니다.</p>
            </div>

            <!-- 카드뉴스 -->
            <div id="tab_3" class="tab_content">
                <!-- 검색 -->
                <div class="search_container">
                    <ul class="search_box">
                        <li class="search_text">검색</li>
                        <li class="search_icon"><iconify-icon icon="ic:baseline-search" width="17" height="17"></iconify-icon>
                        </li>
                    </ul>
                    <hr class="search_line">
                </div>
                <div class="cardnews_container">
                    <div class="cardnews_box">
                        <a href="">
                            <img src="../static/image/finedust/000.png" alt="">
                        </a>
                    </div>
                    <div class="cardnews_box">
                        <a href="">
                            <img src="../static/image/finedust/000.png" alt="">
                        </a>
                    </div> 
                </div>
                <!-- 카드뉴스 탭 콘텐츠 내용 -->
                <h2>카드뉴스 탭 콘텐츠</h2>
                <p>카드뉴스 콘텐츠 내용을 여기에 작성합니다.</p>
            </div>
        </div>
    <!--여기에는 script src 부분 넣으세유 그것도 지우면 js 연결이 끊겨요!-->
{% comment %}
{% endblock %}
{% endcomment %}

        <!-- 메뉴 하단바 -->
        <div id="ft">
            <div class="ftIcons">
                <div class="back"> <!--뒤로가기-->
                    <a href="">
                        <img src="{% static 'image/back_blue.png' %}" alt="">
                    </a>
                </div>

                <div class="home"> <!--메인(홈)으로 가기-->
                    <a href="">
                        <img src="{% static 'image/home_gray.png' %}" alt="">
                    </a>
                </div>

                <div class="user"> <!--마이페이지로 가기-->
                    <a href="">
                        <img src="{% static 'image/user_gray.png' %}" alt="">
                    </a>
                </div>
            </div>
        </div> <!-- 메뉴 하단바 div 끝-->
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/actionTips.js' %}"></script>
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
</body>
</html>
