<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>재난이:커뮤니티 페이지-글 상세보기</title>
    <link rel="stylesheet" href="../static/css/communityPost.css">
</head>
<body>
    <div class="container">
        <div class="hd"> <!--윗(상단) 부분-->
            <div class="title">지역 소식</div>
                <button type="submit" class="dotButton">
                    <img src="../static/image/dot.png" alt="">
                </button>
        </div> <!--윗(상단) 부분 끝-->

        <div class="lineBox"></div> <!--구분하기 위한 선-->

        <div class="post"> <!--게시글 부분-->
            <div class="postHd">
                <div class="userInfo">
                    <img src="../static/image/profile.png" alt="프로필">
                    <p class="nickName">아자핑 최고</p>
                    <p class="time">5분 전</p>
                    <a href="communityEdit.html">
                        <button type="submit" class="edit">수정</button>
                    </a>  
                    <button class="delete" id="open-modal">삭제</button>
                </div>
            </div>  

            <p class="text">
                현재 양주역 상황 말씀드려요.<br>
                역이 거의 잠겼어요.... 다들 퇴근할 때 조심하세요
            </p>

            <img src="../static/image/flood.png" alt="홍수 사진">
        </div> <!--게시글 부분 끝-->

        <!--모달창-->
        <div id="modal" class="modal">
            <div class="modal-content">
                <p>글을 삭제하시겠습니까?</p>
                <a href="#" class="close-button" id="closePopup"><p>아니오</p></a>
                <a href="communityList.html">
                    <form class="yesBtn" method="post">
                        <button type="button" class="delete_button">네</button>
                    </form>
                </a>
            </div>
        </div>

        <div class="comment"> 
            <img src="../static/image/comment.png" alt="">
            <p>댓글 작성</p>
        </div>

        <hr class="line"> <!--선 긋기-->

        <form method="post"> <!--댓글 달기 -->
            <textarea name="commentText" rows="0" id="commentText" maxlength="150" oninput="maxLengthCheck(this)"></textarea>
            <div class="border">
                <button type="submit">등록</button>
                <div id="charCount">(0 / 150)</div> <!--글자 수 세기-->
            </div>
        </form> <!--댓글 달기 끝-->

        <div class="comments"> <!--댓글들 부분-->
            <div class="commentsHd">
                <div class="commentsUser">
                    <img src="../static/image/profile.png" alt="">
                    <p class="commentsName">행운핑 최고</p>
                    <p class="commentsTime">5분 전</p>
                    <button type="submit" class="commentsDots" onclick="appearButton1()">
                        <img src="../static/image/dot.png" alt="">
                    </button>
                </div>
            </div>
            <form method="post" class="send1">
                <button type="submit" class="reportBtn1">신고</button>
            </form>
            <p class="commentsText">
                헉 너무 심하네요<br>
                아까까지는 저렇게까지는 아니었는데..
            </p>
        </div>


        <hr class="line"> <!--선 긋기-->

        <div class="comments">
            <div class="commentsHd">
                <div class="commentsUser">
                    <img src="../static/image/profile.png" alt="">
                    <p class="commentsName">라라핑 최고</p>
                    <p class="commentsTime">10분 전</p>
                    <button type="submit" class="commentsDots" onclick="appearButton2()">
                        <img src="../static/image/dot.png" alt="">
                    </button>
                </div>
            </div>
            <form method="post" class="send2">
                <button type="submit" class="reportBtn2">신고</button>
            </form>
            <p class="commentsText">
                헉 너무 심하네요<br>
                아까까지는 저렇게까지는 아니었는데..
            </p>
        </div> <!--댓글들 부분 끝-->
        
        <hr class="line"> <!--선 긋기-->

        <div id="ft"> <!-- 메뉴 하단바 -->
            <div class="ftIcons">
                <div class="back"> <!--뒤로가기-->
                    <a href="">
                        <img src="../static/image/back_blue.png" alt="">
                    </a>
                </div>

                <div class="home"> <!--메인(홈)으로 가기-->
                    <a href="">
                        <img src="../static/image/home_gray.png" alt="">
                    </a>
                </div>

                <div class="user"> <!--마이페이지로 가기-->
                    <a href="mypage.html">
                        <img src="../static/image/user_gray.png" alt="">
                    </a>
                </div>
            </div>
        </div> <!-- 메뉴 하단바 div 끝-->
    </div>
    <script src="../static/js/communityPost.js"></script>
</body>
</html>