<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>재난이:커뮤니티 페이지-리스트</title>
    <link rel="stylesheet" href="../static/css/communityList.css">
</head>
<body>
    <div class="container">
        <div class="hd"> <!-- 커뮤니티 상단 -->
            <form method="get" class="areaSelect"> <!-- select box form으로 묶기-->
                <select name="area_select" id="area" required> 
                    <option value="" disabled selected>지역 설정</option>
                    <option value="서울">서울</option>
                    <option value="부산">부산</option>
                    <option value="대구">대구</option>
                    <option value="인천">인천</option>
                    <option value="광주">광주</option>
                    <option value="대전">대전</option>
                    <option value="울산">울산</option>
                    <option value="세종">세종</option>
                    <option value="경기도">경기도</option>
                    <option value="강원도">강원도</option>
                    <option value="충청북도">충청북도</option>
                    <option value="충청남도">충청남도</option>
                    <option value="전라북도">전라북도</option>
                    <option value="경상북도">경상북도</option>
                    <option value="경상남도">경상남도</option>
                    <option value="제주">제주</option>
                </select>
            </form>
            <div class="hdIcons"> <!-- 아이콘 부분 -->
                <div>
                    <a href="">
                        <img src="../static/image/glass.png" class="search" alt="돋보기">
                    </a>
                </div>
                <div>
                    <a href="communityWrite.html">
                        <img src="../static/image/pencil.png" class="change" alt="글쓰기">
                    </a>
                </div>
                <div>
                    <a href="mypage.html">
                        <img src="../static/image/profile.png" class="profile" alt="프로필">
                    </a>
                </div>
            </div> <!-- 아이콘 부분 끝 -->
        </div> <!-- 상단 끝 -->

        <div class="title"> <!--지역 소식 둥근 부분-->
            지역 소식
        </div>

        <hr class="line"> <!-- 선 긋기 -->

        <div class="content1"> <!--컨텐츠-->
                <div class="userInfo">
                    <img src="../static/image/profile.png" alt="프로필">
                    <p class="nickName">아자핑 최고</p>
                    <p class="time">5분 전</p>
                    <button type="submit" class="dotButton" onclick="appearButton1()">
                        <img src="../static/image/dot.png" alt="">
                    </button>
                    <form method="post" class="send1">
                        <button type="submit" class="reportBtn1">신고</button>
                    </form>
                </div>  
            <a href="communityPost.html"> <!--글 쪽을 누르면 글 상세보기 페이지로 넘어감-->
                <p class="text">
                    현재 양주역 상황 말씀드려요.<br>
                    역이 거의 잠겼어요.... 다들 퇴근할 때 조심하세요
                </p>
                <img src="../static/image/comment.png" alt="" class="comment">
            </a>
        </div>

        <div class="lineBox"></div> <!--구분하기 위한 선-->
 
        <div class="content2"> <!--컨텐츠-->
                <div class="userInfo">
                    <img src="../static/image/profile.png" alt="프로필">
                    <p class="nickName">아자핑 최고</p>
                    <p class="time">10분 전</p>
                    <button type="submit" class="dotButton" onclick="appearButton2()">
                        <img src="../static/image/dot.png" alt="">
                    </button>
                    <form method="post" class="send2">
                        <button type="submit" class="reportBtn2">신고</button>
                    </form>
                </div>
            <p class="text">
                현재 양주역 상황 말씀드려요.<br>
                역이 거의 잠겼어요.... 다들 퇴근할 때 조심하세요
            </p>

            <img src="../static/image/comment.png" alt="댓글버튼" class="comment">
        </div>

        <div class="lineBox"></div> <!--구분하기 위한 선-->

        <div class="content3"> <!--컨텐츠-->
                <div class="userInfo">
                    <img src="../static/image/profile.png" alt="프로필">
                    <p class="nickName">아자핑 최고</p>
                    <p class="time">15분 전</p>
                    <button type="submit" class="dotButton" onclick="appearButton3()">
                        <img src="../static/image/dot.png" alt="">
                    </button>
                    <form method="post" class="send3">
                        <button type="submit" class="reportBtn3">신고</button>
                    </form>
                </div>  
            <p class="text">
                현재 양주역 상황 말씀드려요.<br>
                역이 거의 잠겼어요.... 다들 퇴근할 때 조심하세요
            </p>

            <img src="../static/image/comment.png" alt="댓글" class="comment">
        </div>

        <div class="lineBox"></div> <!--구분하기 위한 선-->

        <div id="ft"> <!-- 메뉴 하단바 -->
            <div class="ftIcons">
                <div class="back"> <!--뒤로가기-->
                    <a href="">
                        <img src="../static/image/back_blue.png" alt="뒤로가기">
                    </a>
                </div>

                <div class="home"> <!--메인(홈)으로 가기-->
                    <a href="">
                        <img src="../static/image/home_gray.png" alt="홈">
                    </a>
                </div>

                <div class="user"> <!--마이페이지로 가기-->
                    <a href="mypage.html">
                        <img src="../static/image/user_gray.png" alt="유저정보">
                    </a>
                </div>
            </div>
        </div> <!-- 메뉴 하단바 div 끝-->
    </div>
    <script src="../static/js/communityList.js"></script>
</body>
</html>