
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'image/logo.png' %}">
    <title>피해피해</title>
    <link rel="stylesheet" href="{% static 'css/menuBar.css' %}">
</head>
<body>
    <div class="container">
        {% block content %}

        {% endblock %}
        <div id="ft"> <!-- 메뉴 하단바 -->
            <div class="ftIcons">
                <div class="back" onClick="window.history.back()"> <!--뒤로가기-->
                    <img src="{% static 'image/back_blue.png' %}" alt="">
                </div>

                <div class="home"> <!--메인(홈)으로 가기-->
                    <a href="{% url 'main' %}">
                        <img src="{% static 'image/home_gray.png' %}" alt="">
                    </a>
                </div>

                <div class="user"> <!--마이페이지로 가기-->
                    {% if user.is_authenticated %}
                    <a href="{% url 'accounts:my_page' pk=user.id %}">
                        <img src="{% static 'image/user_gray.png' %}" alt="">
                    </a>
                    {% else %}
                    <a href="{% url 'accounts:login' %}">
                        <img src="{% static 'image/user_gray.png' %}" alt="">
                    </a>
                    {% endif %}
                </div>
            </div>
        </div> <!-- 메뉴 하단바 div 끝-->
    </div>
</body>
</html>