<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mypage</title>
    <link rel="stylesheet" href="../static/css/mypage.css">
</head>

<body>
    <div class="container">
        <!-- 상단바 공간 -->
        <div class="nav-bar"></div>
        <!-- 프로필 -->
        <img id="user" src="../static/image/user-1.svg" alt="">
        <!-- 닉네임   -->
        <div class="name">
            <p class="nickname">행운핑</p>
            <a href="../templates/profile.html">
                <div class="name-1">
                    <!-- 연필 img -->
                    <img src="../static/image/image-8.svg" alt="">
                    <!-- ㅡ -->
                    <img id="name-2" src="../static/image/vector-5.svg" alt="">
                </div>
            </a>

        </div>
        <!-- email 보이게 하는 부분 -->
        <div class="email">
            <p>legend teeniping</p>
        </div>
        <img id="line" src="../static/image/line.svg" alt="">
        <!-- 마이페이지 기능 -->
        <div class="section">
            <div class="section1">
                <img src="../static/image/vector.svg" alt="">
                <a href="">
                    <p>내 위치 찾기</p>
                </a>
            </div>
            <div class="section2">
                <img src="../static/image/pw.svg" alt="">
                <a href="pwreset.html">
                    <p>비밀번호 재설정</p>
                </a>
            </div>
            <div class="section3">
                <img src="/static/image/question.svg" alt="">
                <a href="question.html">
                    <p>자주 묻는 질문</p>
                </a>
            </div>
            <div class="section4">
                <img src="../static/image/ph-newspaper-clipping-light.svg" alt="">
                <a href="scrap.html">
                    <p>내가 스크랩한 글</p>
                </a>
            </div>

        </div>
        <img src="../static/image/line.svg" alt="">

        <!-- 탈퇴하기 -->
        <p class="retire">서비스 탈퇴하기</p>

        <!-- 하단바 -->
        <div id="ft">
            <div class="ftIcons">
                <div class="back"> <!--뒤로가기-->
                    <a href="">
                        <img src="../static/image/back_blue.png" alt="">
                    </a>
                </div>

                <div class="home"> <!--메인(홈)으로 가기-->
                    <a href="">
                        <img src="../static/image/home_gray.png" alt="">
                    </a>
                </div>

                <div class="user"> <!--마이페이지로 가기-->
                    <a href="../templates/mypage.html">
                        <img src="../static/image/user_gray.png" alt="">
                    </a>
                </div>
            </div> <!-- 메뉴 하단바 div 끝-->
        </div>
    </div>
    <script src="../static/js/mypage.js"></script>
</body>

</html>