<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pwchange-finished</title>
    <link rel="stylesheet" href="../static/css/pwchange.css">
</head>
<body>
    <div class="container">
        <div class="nav-bar"></div>
       
        <div class="header">
            <h3>비밀번호 변경 완료</h3>
        </div>
        <div class="section1">
            <p>비밀번호 변경이 완료되었습니다. 다시 로그인 해 주세요.</p>
        </div>
        <form action="" method="post">
            <div class="button">
                <button type="submit">로그인하기</button>
            </div>
        </form>
    </div>
</body>
</html>