<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 찾기</title>
    <link rel="stylesheet" href="../static/css/pwfind.css">
</head>

<body>
    <div class="container">
        <div class="nav-bar"></div>
        <h3>비밀번호 찾기</h3>
        <div class="input">
            <form action="" method="post" onsubmit="return validateForm()">
                <p for="name">성함</p>
                <input type="text" id="name" name="name" required>
                <p for="tel">전화번호</p>
                <div class="phone-number-input">
                    <input type="tel" id="phone-number1" name="phone-number1" maxlength="3" value="010" required>
                    <span>-</span>
                    <input type="tel" id="phone-number2" name="phone-number2" maxlength="4" required>
                    <span>-</span>
                    <input type="tel" id="phone-number3" name="phone-number3" maxlength="4" required>
                </div>
                <p for="email">이메일</p>
                <input type="email" id="email" name="email" required>
                <div class="button">
                    <button type="submit">찾기</button>
                </div>
            </form>
        </div>

        <!-- 하단바 -->

        <div id="ft"> <!-- 메뉴 하단바 -->
            <div class="ftIcons">
                <div class="back"> <!--뒤로가기-->
                    <a href="">
                        <img src="../static/image/back_blue.png" alt="">
                    </a>
                </div>

                <div class="home"> <!--메인(홈)으로 가기-->
                    <a href="">
                        <img src="../static/image/home_gray.png" alt="">
                    </a>
                </div>

                <div class="user"> <!--마이페이지로 가기-->
                    <a href="">
                        <img src="../static/image/user_gray.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script src="../static/js/pwfind.js"></script>
</body>

</html>