<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question1-비밀번호재설정</title>
<!-- {% extends 'menuBar.html' %}
{% block content %}
{% load static %} -->
    <link rel="stylesheet" href="{% static 'css/question1.css' %}">
</head> <!--del-->

<body> <!--del-->
    {% load static %}
    <div class="container"> <!--del-->
        <div class="nav-bar"></div>
        <h3>비밀번호 어떻게 찾나요?</h3>
        <img src="{% static 'image/rectangle-75.svg' %}" alt="">

        <div class="article">
            <div class="image">
                <img src="{% static 'image/image-16.svg' %}" alt="">
            </div>
            <div class="text">
                <p>1.로그인 페이지 하단에 들어옵니다</p>
                <p>2.비밀번호 찾기를 누르시면 됩니다</p>
            </div>
        </div>
<!-- {% endblock %} -->

        <!-- 하단바 -->
        <div id="ft"> <!-- 메뉴 하단바 -->
            <div class="ftIcons">
                <div class="back"> <!--뒤로가기-->
                    <a href="">
                        <img src="{% static 'image/back_blue.png' %}" alt="">
                    </a>
                </div>

                <div class="home"> <!--메인(홈)으로 가기-->
                    <a href="">
                        <img src="{% static 'image/home_gray.png' %}" alt="">
                    </a>
                </div>

                <div class="user"> <!--마이페이지로 가기-->
                    <a href="">
                        <img src="{% static 'image/user_gray.png' %}" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
    

</body>

</html>